$height: 40px;
$workspace-padding: 8px;

$blue-300: #375f7a;
$blue-500: #51afef;
$blue-800: #bee2eb;
$blue-900: #aad8f9;

$green-100: #13190b;
$green-500: #98be65;

$red-500: #ff6c6b;

$yellow-500: #ecbe7b;

$gray-100: #1d2026;
$gray-300: #70787f;
$gray-400: #bbc2cf;
$gray-800: #efefef;

$font-mono: "JetBrainsMono Nerd Font";
$font-sans: "Lato";

* {
    all: unset;
    font-family: $font-sans;
}

.calos_bar {
    background: rgba(40, 44, 52, 0.8);
    border-radius: 20px;
    color: $blue-900;
}

.workspaces {
    font-family: $font-mono;
    font-size: 10px;
    padding-top: $workspace-padding;
    padding-bottom: $workspace-padding;
}

.ws-focused, .ws-visible {
    color: $blue-500;
    border: 2px solid $blue-500;
    border-radius: 999px;
    min-width: $height - 2 * ($workspace-padding + 3px);
    font-weight: bold;
}

.ws-focused {
    color: $green-500;
    border-color: $green-500;
}

.ws-urgent{
    color: $red-500;
}

.ws-busy {
    color: $gray-300;
}

@import 'layouts';
$all-layouts-selector: ();

@each $layout in $layouts {
    $all-layouts-selector: append($all-layouts-selector, '.layout-#{$layout}', comma);

    .layout-#{$layout} {
        background: url('./images/layouts/#{$layout}.svg');
    }
}

#{$all-layouts-selector} {
    color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
}

.volume {
    margin-left: 10px;
}

.volume trough {
    background: $blue-300;
    border-radius: 10px;
    min-height: 10px;
    min-width: 70px;
}

.volume trough highlight {
    background: $yellow-500;
    border-radius:10px;
}

.icon-btn label {
    font-size: 30px;
    // background: $gray-100;
    // border-bottom: 2px solid $gray-300;
//     border-radius: 4px;
//     min-width: 28px;
}

.time {
    
}

.date {
    font-size: 11px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.calendar {
    background: $gray-100;
    border: 2px solid $blue-500;
    border-radius: 5px;
    color: $gray-400;
    padding: 5px;
}

calendar.button {
    padding: 5px;
}

calendar.highlight {
    color: $gray-300;
    font-weight: bold;
}

calendar:selected {
    background: $green-500;
    color: $green-100;
    border-radius: 3px;
}

calendar:indeterminate {
    color: $blue-300;
}

